POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_PORT=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DB=
MONGO_PORT=
MONGO_URI=

PORT=

ADMIN_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=